In [1]:
import pandas as pd
#對以下成績資料做分析
score_df = pd.DataFrame([[1,56,66,70], 
                         [2,90,45,34], 
                         [3,45,32,55], 
                         [4,70,77,89], 
                         [5,56,80,70], 
                         [6,60,54,55], 
                         [7,45,70,79], 
                         [8,34,77,76], 
                         [9,25,87,60],
                         [10,88,40,43]],
                        columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [8]:
#1. 6號學生(student_id=6) 3 科平均分數為何？
# 56.333333
#2. 6號學生3科平均分數是否有贏過班上一半的同學？
# 否
score_df.mean(axis=1)

student_id
1     64.000000
2     56.333333
3     44.000000
4     78.666667
5     68.666667
6     56.333333
7     64.666667
8     62.333333
9     57.333333
10    57.000000
dtype: float64

In [14]:
#3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
# 77.459667, 73.484692, 74.161985
#4. 承上題，加分後各科班平均變多少？
mew_score = score_df.apply(lambda x : x**(0.5)*10)
new_score.mean()

NameError: name 'new_score' is not defined